@import 'navbar.scss';

#bootnavbar {
	background: #441B39;
	display: flex;
	align-items: center;
	width: 100%;
	li {
		a {
			color: #fff;
			text-decoration: none;
			&:hover {
				@extend %navbar-hover;
			}
		}
	}
	.brand {
		@extend %navbar-item;
		font-weight: bold;
		@include parametros (15px, 5px, 5px, 10px);
		margin-right: 25px;
	}
	.item {
		@extend %navbar-item;
		@include parametros (12px, 1px, 5px, 10px);
	}
}

